.index-box {
    background-color: #aaaaaa;
    border-radius: 5px;
}

/* Headings */

/* Colours */

/* Index */

/* About */

/* Contact */

/* Music */

.music-thumb {
    height: 300px;
    width: 300px;
}

/* Shop */

/* Shows */

/* Media */