@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700;800&display=swap");

body {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
}

/* Headings */

.header-index,
.header-about,
.header-contact,
.header-music,
.header-shop,
.header-shows {
  background: url("../images/banners/text-line-narrow.png") no-repeat center
    center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  border-radius: 0px;
  clear: both;
  display: flex;
  height: 35vh;
}

.header-about {
  background: url("../images/banners/banner-head-col.jpg") no-repeat center
    center;
}

.header-contact {
  background: url("../images/banners/banner-head-bw.png") no-repeat center
    center;
}

.header-music {
  background: url("../images/banners/banner-head-bw.png") no-repeat center
    center;
  /* needs to stretch vertically and shrink horizontally */
}

.header-shop {
  background: url("../images/banners/text-line-narrow.png") no-repeat center
    center;
}

.header-shows {
  background: url("../images/banners/banner-head-col.jpg") no-repeat center
    center;
}

.jumbotron {
  margin-bottom: 0;
}

.navbar {
  background-color: #f2f2f2;
  height: 60px;
  padding-right: 0px;
  position: sticky;
}

.navbar-about {
  background-color: #a80e0e;
  height: 60px;
  position: sticky;
}

.navbar-brand img {
  height: 100%; /* allows band logo to fill navbar */
  width: 140px;
}

.nav-link {
  border-radius: 10px;
  color: #333333;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.nav-link-about {
  border-radius: 10px;
  color: #d1a511;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 3px;
  padding: 8px; /* had to include additional padding, coul not work out why
    items were pushed together when I used this tag instead of the regular nav-link */
  text-transform: uppercase;
}

.nav-link-music {
  border-radius: 10px;
  color: #693288;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 3px;
  padding: 8px; /* had to include additional padding, coul not work out why
    items were pushed together when I used this tag instead of the regular nav-link */
  text-transform: uppercase;
}

.nav-link:hover {
  /* Taken from the CI Resume Walkthrough */
  background-color: #333333;
  color: #f2f2f2;
  transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
}

.nav-link-about:hover {
  /* Taken from the CI Resume Walkthrough */
  background-color: #d1a511; /* needs to remove underline from link hover */
  color: #a80e0e;
  transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
}

.nav-link-about:hover {
  /* Taken from the CI Resume Walkthrough */
  background-color: #693288; /* needs to remove underline from link hover */
  color: #f2f2f2;
  transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
}

.nav-container {
  /* this needs to stay at the top on scrolling, currently disappears after header */
  left: 0; /* and is taken from the CI Bootstrap module walkthrough */
  padding-left: 0;
  padding-right: 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

h1 {
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
}

/* Footer */

.footer,
.footer-about,
.footer-music {
  background-color: #333333;
  color: #f2f2f2;
  font-size: 14px;
  letter-spacing: 2px;
  padding-top: 15px;
}

.footer-about {
  background-color: #a80e0e;
  color: #d1a511;
}

.footer-music {
  background-color: #693288;
  color: #f2f2f2;
}

.inline-block {
  display: inline-block;
}

.credits,
.credits-about,
.credits-music {
  font-size: 12px;
  text-align: left;
}

.credits a, .credits-music a {
  color: #f2f2f2;
}

.credits-about a {
  color: #d1a511;
}

.mail-list-form,
.mail-list-about-form,
.mail-list-music-form {
  text-align: right;
}

.mail-list-button {
  background-color: #333333;
  color: #f2f2f2;
}

.mail-list-about-button {
  background-color: #a80e0e;
  color: #d1a511;
}

.mail-list-music-button {
    background-color: #693288;
    color: #f2f2f2;
}

.social-links,
.social-links-about,
.social-links-music {
  word-spacing: 30px;
  text-align: center;
}

.social-links li a i,
.social-links-music li a i {
  font-size: 30px;
  color: #f2f2f2;
  text-align: center;
}

.social-links-about li a i {
  font-size: 30px;
  color: #d1a511;
  text-align: center;
}

/* Colours */

.colour-light {
  color: #f2f2f2;
}

.colour-dark {
  color: #333333;
}

.colour-red {
  color: #a80e0e;
}

.colour-gold {
  color: #d1a511;
}

.colour-violet {
    color: #693288;
}

/* Index */

#index-container {
  background: url("../images/backgrounds/diamond-grey.png") no-repeat center
    center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.index-box {
  background-color: #333333;
  border-radius: 5px;
  color: #f2f2f2;
  margin: 10px;
  padding-top: 10px;
}

.index-box h2 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

/* About */

#bio-container {
  background: url("../images/backgrounds/diamond-orange.png") no-repeat center
    center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
}

.bio-box {
  background-color: #a80e0e;
  color: #d1a511;
}

.bio-box h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.profile-box {
  background-color: #333333;
  border-radius: 20px;
  color: #d1a511;
  margin: 10px;
  text-align: center;
}

.profile-box h2 {
  font-weight: 400;
  letter-spacing: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  text-transform: uppercase;
}

.profile-box p {
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}

.headshot {
  height: 300px;
}

/* Contact */

#contact-container {
  background: url("../images/backgrounds/diamond-grey.png") no-repeat center
    center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/* Music */

#music-container {
  background: url("../images/backgrounds/diamond-purple.png") no-repeat center
    center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
}

.music-title {
  background-color: #693288;
}

.music-title h1 {
  color: #f2f2f2;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.music-box {
  background-color: #333333;
  border-radius: 10px;
  color: #f2f2f2;
  margin: 10px;
  text-align: center;
}

.music-box h2 {
  /* remove blue underline from hyperlink hovers */
  font-weight: 400;
  letter-spacing: 3px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 24px;
  text-transform: uppercase;
}

.music-thumb {
  height: 300px;
  width: 300px;
}

.music-thumb img {
  border-radius: 10px;
  height: 200px;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 200px;
}

.music-thumb h2 {
  color: #f2f2f2;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

/* Shop */

#shop-container {
  background: url("../images/backgrounds/diamond-gun.png") no-repeat
    center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.shop-title {
  background-color: #f2f2f2;
}

.shop-title h1 {
  color: #333333;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.checkout {
  background-color: #f2f2f2;
  padding-bottom: 20px;
  padding-right: 80px;
  padding-top: 20px;
  text-align: right;
}

.fa-cart-arrow-down {
  color: #333333;
  font-size: 40px;
}

.shop-box {
  background-color: #f2f2f2;
  border-radius: 10px;
  color: #333333;
  margin: 20px;
  text-align: center;
}

.shop-box h2,
h3 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 3px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

.shop-box h3 {
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
}

.shop-box p {
  color: #333333;
  font-size: 14px;
  padding: 10px;
  text-align: justify;
}

.shop-box img {
  border-radius: 10px;
  height: 200px;
  padding-top: 10px;
}

.shop-link {
  color: #333333;
  font-size: 30px;
  padding-right: 10px;
  text-align: right;
}

/* Shows */

#event-container {
  background: url("../images/backgrounds/diamond-gun.png") no-repeat
    center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
}

.live-title {
  background-color: #333333;
}

.live-title h1 {
  color: #f2f2f2;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.event-box {
  background-color: #333333;
  border-radius: 10px;
  margin: 20px;
}

.event-box h2,
.event-box h3 {
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 3px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

.event-box h3 {
  font-size: 14px;
  font-weight: 300;
}

.event-link-row {
  text-align: center;
  word-spacing: 30px;
  padding-bottom: 10px;
}

.event-link {
  color: #f2f2f2;
  font-size: 30px;
  padding-right: 10px;
}

/* Media Queries */

@media (max-width: 575px) {
  .social-links {
    word-spacing: 15px; /* fits links on single row */
  }

  .credits {
    font-size: 10px;
    text-align: center; /* center-align for mobile */
  }

  .music-thumb {
    height: 150px;
    width: 150px; /* makes thumbnail 150px and padding bigger on each image for mobile devices */
    padding: 30px 30px 30px 30px;
  }

  .event-box h2,
  .event-box h3,
  .event-link-row {
    text-align: center; /* center-align for mobile */
  }
}